# ==========================================
# Backend Environment Variables
# ==========================================

# ------------------------------------------
# Development
# ------------------------------------------
# Description: Port for the backend server to run on
# Required: Optional (Defaults to 5000)
# Format: Integer
PORT=5000

# Description: Node environment (e.g., development, production)
# Required: Optional
# Format: String (development | production)
NODE_ENV=development

# Description: Path to the dataset engine for data import scripts
# Required: Optional
# Format: Absolute or relative directory path
DATASET_ENGINE_PATH=../../infoland-dataset-engine

# ------------------------------------------
# Database
# ------------------------------------------
# Description: MongoDB connection string
# Required: Required
# Format: MongoDB URI
MONGODB_URI=YOUR_MONGODB_URI
